
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}
.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
h4{
  margin-right: 20px;
}
h2{
  text-align: center;
}
.thumbnails li {  
  margin-bottom: 5px;
  flex: auto;
}
.thumbnails a {
  display: block;
}
.thumbnails img {
  width: 10em;
  height: 10em !important;
  height: auto;
  cursor: pointer;
  object-fit: cover;
  object-position: top;
 
}
.thumbnails img:hover{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
.product-image-wrapper:hover{
  box-shadow:0em;
}  
.slides {
  overflow: hidden;
}
.slides li {
  z-index: 1;
  display: none;
}

.slides img {
  height: 100%;
  object-fit: cover;
  object-position: top;
  width: 100%;
}
.slideInImage{
    display: block !important;
}
.slideOutImage{
  display: none;
}
.list-details{
  text-align: justify;
  margin-left: 2em;
}
.description{
  text-align: justify;
   margin: 1em;
}
.space{
  margin-bottom: 2em;
}
#container {
  z-index: 9999;
  position: fixed;
  bottom: 20em;
  right: 25em;
  border-radius:.5em;
  display: none;
  background-color:#fff;
}        

.input-group {
  margin-bottom: 1em;
}
#contact {
  margin: 2em;

}

#heading {
  margin-bottom: 1em;
 color: #b4b1ab
}  

#close {
  color: white;
  font-family: monospace;
  font-weight: lighter;
  background-color: rgba(50, 50, 60, 1);
  border-radius: 8px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.3em;
  font-size: .8em;

}

#close:hover{
  color: white;
  background-color: red;
  font-family: monospace;
  font-weight: lighter;
  box-shadow: 0px 0px 4px white;
}     

.item-form{
margin-bottom:15px;
}

li{
list-style-type: none;
}
