<div class="content">
  <div class="container-fluid">
      <div class="row">
<div class="col-lg-12 col-md-12">
  <div class="card">
      <div class="header">
          <h4 class="title">Edit Product</h4>
      </div>
      <div class="content">
          <form>
              <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                          <label>Name</label>
                          <input type="text" class="form-control border-input" disabled placeholder="Name" value="Jersey.">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label>Code</label>
                          <input type="text" class="form-control border-input" placeholder="Code" value="#85858">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label>Manufacturer</label>
                          <input type="text" class="form-control border-input" placeholder="Manufacturer" value="Samhasho">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Unit price</label>
                        <input type="number" class="form-control border-input" placeholder="Unit price ($)" value="5">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Per</label>
                          <input type="text" class="form-control border-input" placeholder="Per" value="1 jersey">
                      </div>
                  </div>
              </div> 

              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label>Catergory</label>
                      <select class="select" id="feedback" required="required" name="FeedBackType">
                        <option value="" class="option">---Select product caterory---</option>
                        <option value="1" class="option">Crops</option>
                        <option value="2" class="option">Electronics</option>
                        <option value="3" class="option">Livestock</option>
                        <option value="4" class="option">Grocery</option>
                        <option value="6" class="option">Furniture</option>
                        <option value="7" class="option" selected>Clothes</option>
                        <option value="8" class="option">Shoes</option>
                        <option value="9" class="option">Jewelery</option>
                      </select>
                    </div>
                </div>               
            </div> 
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label>Short description</label>
                          <textarea rows="5" class="form-control border-input" placeholder="Here can be your short description" value="Mike">Oh so, your weak rhyme
You doubt I'll bother, reading into it
I'll probably won't, left to my own devices
But that's the difference in our opinions.</textarea>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea rows="5" class="form-control border-input" placeholder="Here can be your detailed description" value="Mike">Oh so, your weak rhyme
You doubt I'll bother, reading into it
I'll probably won't, left to my own devices
But that's the difference in our opinions.</textarea>
                    </div>
                </div>
            </div>
              <div class="text-center">
                  <button type="submit" class="btn btn-lg btn-success">Update Profile</button>
              </div>
              <div class="clearfix"></div>
          </form>
      </div>
  </div>
</div>

</div>
</div>
</div>