<div class="content">
  <div class="container-fluid">
      <div class="row">
<div class="col-lg-12 col-md-12">
  <div class="card">
      <div class="header">
          <h4 class="title">Edit Product</h4>
      </div>
      <div class="content">
          <form>
              <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                          <label for="name">Name</label>
                          <input #name type="text" id="name" class="form-control border-input" placeholder="Name" value="{{product.Name}}">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="code">Code</label>
                          <input type="text" id="code" class="form-control border-input" disabled placeholder="Code" value="{{product.Code}}">
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="manufacturer">Manufacturer</label>
                          <input #manufacturer id="manufacturer" type="text" class="form-control border-input" placeholder="Manufacturer" value="{{product.Manufacturer}}">
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <label for="price">Unit price</label>
                        <input #price id="price" type="number" class="form-control border-input" placeholder="Unit price ($)" value="{{product.Price}}">
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="per">Per</label>
                          <input #per id="per" type="text" class="form-control border-input" placeholder="Per" value="{{product.Per}}">
                      </div>
                  </div>
              </div> 

              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="catergory">Catergory</label>
                      <select ngModel [(ngModel)] = "product.CatergoryId"id="catergory" #catergory="ngModel" class="select" required name="catergory">
                        <option value="" class="option">---Select product caterory---</option>
                        <option *ngFor="let item of catergoryList;" value="{{item.Id}}" class="option">
                            {{item.Name}}
                        </option>
                    </select>
                    </div>
                </div>               
            </div> 
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                          <label for="shortdescription">Short description</label>
                          <textarea #shortdescription id="shortdescription" rows="5" class="form-control border-input" placeholder="Here can be your short description">{{product.ShortDescription}}</textarea>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea #description id="description" rows="5" class="form-control border-input" placeholder="Here can be your detailed description">{{product.Description}}</textarea>
                    </div>
                </div>
            </div>
              <div class="text-center">
                  <button (click)="updateProduct(name.value, manufacturer.value, price.value, per.value, catergory.value, shortdescription.value, description.value)" 
                   class="btn btn-lg btn-success">Update</button>
              </div>
              <div class="clearfix"></div>
          </form>
      </div>
  </div>
</div>

</div>
</div>
</div>