hr {
    border-color: #F1EAE0; }
  
    .content .container-fluid{ 
        margin-left: 20px;
        margin-right: 20px;
      }

  .wrapper {
    position: relative;
    top: 0;
    height: 100vh; }
  
  .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center; }
    .sidebar a {
    color: #797774; 
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    }
.fa{
    font-size: 24px;
float: left;
margin-right: 15px;
line-height: 30px;
width: 30px;
text-align: center;
}

    .sidebar .sidebar-wrapper {
      position: relative;
      max-height: none;
      min-height: 100%;
      overflow: hidden;
      width: 260px;
      z-index: 4;
      box-shadow: inset -1px 0px 0px 0px #DDDDDD; }
    .sidebar .sidebar-background {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      display: block;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: center center; }   
     
        .sidebar .nav li.active > a:before,
        .off-canvas-sidebar .nav li.active > a:before {
          border-right: 17px solid #DDDDDD;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          content: "";
          display: inline-block;
          position: absolute;
          right: 0;
          top: 8px; }
  .main-panel {
    background-color: #f4f3ef;
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);
    min-height: 100%; }
    .main-panel > .content {
      padding: 30px 15px;
      }
   
    .main-panel .navbar {
      margin-bottom: 0; }     
  
      .navbar .navbar-nav > li > a i,
      .navbar .navbar-nav > li > a p {
        display: inline-block;
        margin: 0; }
      .navbar .navbar-nav > li > a i {
        position: relative;
        top: 1px; }
    .navbar .navbar-nav > li > a.btn {
      margin: 15px 3px;
      padding: 7px 18px; }
    .navbar .btn {
      margin: 15px 3px;
      font-size: 14px; }
    .navbar .btn-simple {
      font-size: 16px; }
  
  .navbar-nav > li > .dropdown-menu {
    border-radius: 6px;
    margin-top: -5px; }
  
  .navbar-default {
    background-color: #f4f3ef;
    border-bottom: 1px solid #DDDDDD; }
    .navbar-default .brand {
      color: #66615b !important; }
    .navbar-default .navbar-nav > li > a:not(.btn) {
      color: #9A9A9A; }  
   
  .card {
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
    background-color: #FFFFFF;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;     }

      .card .image img {
        width: 100%; }
    .card .content {
      padding: 15px 15px 10px 15px; }
    .card .header {
      padding: 20px 20px 0; }
    .card .description {
      font-size: 16px;
      color: #66615b; }
    .card h6 {
      font-size: 12px;
      margin: 0; }
    .card .category,
    .card label {
      font-size: 14px;
      font-weight: 400;
      color: #9A9A9A;
      margin-bottom: 0px; }
      .card .category i,
      .card label i {
        font-size: 16px; }
    .card label {
      font-size: 15px;
      margin-bottom: 5px; }
    .card .title {
      margin: 0;
      color: #252422;
      font-weight: 300; }
    .card .avatar {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 5px; }
    .card .footer {
      padding: 0;
      line-height: 30px; }
      .card .footer .legend {
        padding: 5px 0; }
      .card .footer hr {
        margin-top: 5px;
        margin-bottom: 5px; }
    .card .stats {
      color: #a9a9a9;
      font-weight: 300; }
      .card .stats i {
        margin-right: 2px;
        min-width: 15px;
        display: inline-block; }
    .card .footer div {
      display: inline-block; }
    .card .author {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase; }
    .card .author i {
      font-size: 14px; }
    .card.card-separator:after {
      height: 100%;
      right: -15px;
      top: 0;
      width: 1px;
      background-color: #DDDDDD;
      content: "";
      position: absolute; }
    .card .ct-chart {
      margin: 30px 0 30px;
      height: 245px; }   
   
    .card .numbers {
      font-size: 2em;
      text-align: right; }
      .card .numbers p {
        margin: 0; }
    .card ul.team-members li {
      padding: 10px 0px; }
      .card ul.team-members li:not(:last-child) {
        border-bottom: 1px solid #F1EAE0; }  
  .card-user .image {
    border-radius: 8px 8px 0 0;
    height: 150px;
    position: relative;
    overflow: hidden; 
    padding-top: 2em;}
    .card-user .image img {
      width: 100%; }
  .card-user .image-plain {
    height: 0;
    margin-top: 110px; }
  .card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -65px; 
    padding-top: 2.5em;}
    .card-user .author .title {
      color: #403D39; }
      .card-user .author .title small {
        color: #ccc5b9; }
  .card-user .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px; }
    .card-user .avatar.border-white {
      border: 5px solid #FFFFFF; }
    .card-user .avatar.border-gray {
      border: 5px solid #ccc5b9; }
  .card-user .title {
    font-weight: 600;
    line-height: 24px; }
  .card-user .description {
    margin-top: 10px; }
  .card-user .content {
    min-height: 200px; }
  .card-user.card-plain .avatar {
    height: 190px;
    width: 190px; }
  
  .card-map .map {
    height: 500px;
    padding-top: 20px; }
    .card-map .map > div {
      height: 100%; }
  
  .card-user .footer,
  .card-price .footer {
    padding: 5px 15px 10px; }
  .card-user hr,
  .card-price hr {
    margin: 5px 15px; }
  
  .card-plain {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0; }

  
  @media (min-width: 992px) {
 
    .navbar-form {
      margin-top: 21px;
      margin-bottom: 21px;
      padding-left: 5px;
      padding-right: 5px; }
  
  
    .navbar-nav.navbar-left > li > .dropdown-menu:before {
      right: auto;
      left: 12px; }
  
    .navbar-nav.navbar-left > li > .dropdown-menu:after {
      right: auto;
      left: 12px; }
  
    .navbar .navbar-header {
      margin-left: 10px; }
  
    .footer:not(.footer-big) nav > ul li:first-child {
      margin-left: 0; }
  
    body > .navbar-collapse.collapse {
      display: none !important; }
  
    .card form [class*="col-"] {
      padding: 6px; }
    .card form [class*="col-"]:first-child {
      padding-left: 15px; }
    .card form [class*="col-"]:last-child {
      padding-right: 15px; } }
  /*          Changes for small display      */
  @media (max-width: 991px) {
    .sidebar {
      display: none; }
  
    .main-panel {
      width: 100%; }
  
    .navbar-transparent {
      padding-top: 15px;
      background-color: rgba(0, 0, 0, 0.45); }
  
    body {
      position: relative; }
  
    h6 {
      font-size: 1em; }
  
    .wrapper {
      -webkit-transform: translate3d(0px, 0, 0);
      -moz-transform: translate3d(0px, 0, 0);
      -o-transform: translate3d(0px, 0, 0);
      -ms-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0);
      -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      left: 0;
      background-color: white; }
  
    .navbar .container {
      left: 0;
      width: 100%;
      -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      position: relative; }
  
    .navbar .navbar-collapse.collapse,
    .navbar .navbar-collapse.collapse.in,
    .navbar .navbar-collapse.collapsing {
      display: none !important; }
  
    .navbar-nav > li {
      float: none;
      position: relative;
      display: block; } 
    
  
    .nav-open .navbar-collapse {
      -webkit-transform: translate3d(0px, 0, 0);
      -moz-transform: translate3d(0px, 0, 0);
      -o-transform: translate3d(0px, 0, 0);
      -ms-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0); }
  
    .nav-open .navbar .container {
      left: -230px; }
  
    .nav-open .wrapper {
      left: 0;
      -webkit-transform: translate3d(-230px, 0, 0);
      -moz-transform: translate3d(-230px, 0, 0);
      -o-transform: translate3d(-230px, 0, 0);
      -ms-transform: translate3d(-230px, 0, 0);
      transform: translate3d(-230px, 0, 0); }
  
    .navbar-toggle .icon-bar {
      display: block;
      position: relative;
      background: #fff;
      width: 24px;
      height: 2px;
      border-radius: 1px;
      margin: 0 auto; }
  
    .navbar-header .navbar-toggle {
      margin: 10px 15px 10px 0;
      width: 40px;
      height: 40px; }
  
     
    .dropdown-menu .divider {
      background-color: rgba(229, 229, 229, 0.15); }
  
    .navbar-nav {
      margin: 1px 0; } 

  
    .navbar-fixed-top {
      -webkit-backface-visibility: hidden; }

  
 
  
    .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: transparent !important; }
  
    .btn.dropdown-toggle {
      margin-bottom: 0; }
  
 
    .media-post .media-body {
      width: 100%; }
  
    .navbar-collapse.collapse {
      height: 100% !important; }
  
    .navbar-collapse.collapse.in {
      display: block; }
  
    .navbar-header .collapse, .navbar-toggle {
      display: block !important; }
  
    .navbar-header {
      float: none; }

  
    .main-panel > .content {
      padding-left: 0;
      padding-right: 0; }
  
    .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
      background-color: transparent; }
}












#container {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 9999;
  position: fixed;
  bottom: 30em;
  right: 35em;
  border-radius:.5em;
  display: none;
  background-color:#fff;
  min-height: 5em;
}        

.input-group {
  margin-bottom: 1em;
}
#contact {
  margin: 2em;

}

#heading {
  margin-bottom: 1em;
 color: #b4b1ab
}    
#close {
  color: white;
  font-family: monospace;
  font-weight: lighter;
  background-color: rgba(50, 50, 60, 1);
  border-radius: 8px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.3em;
  font-size: .8em;

}

.dropdown-menu{
  right: 3em;
left: unset;
}

#close:hover{
  color: white;
  background-color: red;
  font-family: monospace;
  font-weight: lighter;
  box-shadow: 0px 0px 4px white;
}     

.item-form{
margin-bottom:15px;
}

li{
list-style-type: none;
}