<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
          </button>
          <a class="navbar-brand" href="#">Dashboard</a>
      </div>
  </div>
</nav>

<div class="content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-sm-6">
              <div class="card">
                  <div class="content">
                      <div class="row">
                          <div class="col-xs-5">
                              <div class="icon-big icon-warning text-center">
                                  <i class="fa fa-bell"></i>
                              </div>
                          </div>
                          <div class="col-xs-7">
                              <div class="numbers">
                                  <p>Notifications</p>
                                  {{notifications?.length}}
                              </div>
                          </div>
                      </div>
                      <div class="footer">
                          <hr />
                          <div class="stats">
                              <i class="ti-reload"></i> Sent Today
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="card">
                  <div class="content">
                      <div class="row">
                          <div class="col-xs-5">
                              <div class="icon-big icon-success text-center">
                                  <i class="fa fa-users"></i>
                              </div>
                          </div>
                          <div class="col-xs-7">
                              <div class="numbers">
                                  <p>Products</p>
                                  {{productViewers?.length}}
                              </div>
                          </div>
                      </div>
                      <div class="footer">
                          <hr />
                          <div class="stats">
                              <i class="ti-calendar"></i> Viewed today
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="card">
                  <div class="content">
                      <div class="row">
                          <div class="col-xs-5">
                              <div class="icon-big icon-danger text-center">
                                  <i class="fa fa-envelope"></i>
                              </div>
                          </div>
                          <div class="col-xs-7">
                              <div class="numbers">
                                  <p>Blogs</p>
                                  {{blogViewers?.length}}
                              </div>
                          </div>
                      </div>
                      <div class="footer">
                          <hr />
                          <div class="stats">
                              <i class="ti-timer"></i> Viewed today
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">

          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Products Behavior</h4>
                      <p class="category">24 Hours performance</p>
                  </div>
                  <div class="content">                      
                        <canvas id="productChart"></canvas>                     
                      <div class="footer">
                          <div class="chart-legend">
                              <i class="fa fa-circle text-info"></i> Open
                              <i class="fa fa-circle text-danger"></i> Click
                              <i class="fa fa-circle text-warning"></i> Click Second Time
                          </div>
                          <hr>                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Message Statistics</h4>
                      <p class="category">Performance</p>
                  </div>
                  <div class="content">
                      <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                      <div class="footer">
                          <div class="chart-legend">
                              <i class="fa fa-circle text-info"></i> Feedback
                              <i class="fa fa-circle text-danger"></i> Blog
                              <i class="fa fa-circle text-warning"></i> Enquire
                          </div>
                          <hr>
                          <div class="stats">
                              <i class="ti-timer"></i> Performance sent 2 days ago
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card ">
                  <div class="header">
                      <h4 class="title">Users location</h4>
                      <p class="category">All users</p>
                  </div>
                  <div class="content">
                      <div id="chartActivity" class="ct-chart"></div>

                      <div class="footer">
                          <div class="chart-legend">
                              <i class="fa fa-circle text-info"></i> 
                              <i class="fa fa-circle text-warning"></i> 
                          </div>
                          <hr>
                          <div class="stats">
                              <i class="ti-check"></i> Data information certified
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>    
