
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">               
                <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
            </div>
        </div>
      </nav>
<div class="content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-sm-6">
              <div class="card">
                  <div class="content">
                      <div class="row">
                          <div class="col-xs-5">
                              <div class="icon-big icon-warning text-center">
                                  <i class="fa fa-bell"></i>
                              </div>
                          </div>
                          <div class="col-xs-7">
                              <div class="numbers">
                                  <p>Notifications</p>
                                  {{notifications?.length}}
                              </div>
                          </div>
                      </div>
                      <div class="footer">
                          <hr />
                          <div class="stats">
                              <i class="ti-reload"></i> Sent Today
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="card">
                  <div class="content">
                      <div class="row">
                          <div class="col-xs-5">
                              <div class="icon-big icon-success text-center">
                                  <i class="fa fa-users"></i>
                              </div>
                          </div>
                          <div class="col-xs-7">
                              <div class="numbers">
                                  <p>Products</p>
                                  {{productViewers?.length}}
                              </div>
                          </div>
                      </div>
                      <div class="footer">
                          <hr />
                          <div class="stats">
                              <i class="ti-calendar"></i> Viewed today
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6">
              <div class="card">
                  <div class="content">
                      <div class="row">
                          <div class="col-xs-5">
                              <div class="icon-big icon-danger text-center">
                                  <i class="fa fa-envelope"></i>
                              </div>
                          </div>
                          <div class="col-xs-7">
                              <div class="numbers">
                                  <p>Blogs</p>
                                  {{blogViewers?.length}}
                              </div>
                          </div>
                      </div>
                      <div class="footer">
                          <hr />
                          <div class="stats">
                              <i class="ti-timer"></i> Viewed today
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">

          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Products Behavior</h4>
                  </div>
                  <div class="content">                      
                        <canvas id="productChart"></canvas>                     
                      <div class="footer">
                          <hr>                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Product Behavior</h4>
                      <p class="category">Performance</p>
                  </div>
                  <div class="content">
                    <canvas id="productlineChart"></canvas>        

                      <div class="footer">
                        
                          <hr>
                          <div class="stats">
                              <i class="ti-timer"></i> Data information certified
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card ">
                  <div class="header">
                      <h4 class="title">Blog Behavior</h4>
                  </div>
                  <div class="content">
                    <canvas id="blogChart"></canvas>  

                      <div class="footer">
                                                  <hr>
                          <div class="stats">
                              <i class="ti-check"></i> Data information certified
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>    
