<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar bar1"></span>
              <span class="icon-bar bar2"></span>
              <span class="icon-bar bar3"></span>
          </button>
          <a class="navbar-brand" href="#">Blog</a>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="ti-panel"></i>
      <p>Stats</p>
                  </a>
              </li>
              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="ti-bell"></i>
                          <p class="notification">5</p>
        <p>Notifications</p>
        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Notification 1</a></li>
                      <li><a href="#">Notification 2</a></li>
                      <li><a href="#">Notification 3</a></li>
                      <li><a href="#">Notification 4</a></li>
                      <li><a href="#">Another notification</a></li>
                    </ul>
              </li>
           </ul>

      </div>
  </div>
</nav>


<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <div class="col-sm-9">
                          <button type="submit" class="btn btn-md btn-success"><i class="fa fa-plus"></i> Add</button>
                        </div>
                          <div class="col-sm-3">
                              <div class="search_box pull-right">
                                  <input type="text" placeholder="Search"/>
                              </div>
                          </div>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                  <th>#</th>
                                  <th>Image</th>
                                  <th>Name</th>                              
                                  <th>Date Created</th>
                                  <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr>
                                      <td>1</td>
                                      <td><img src="/assets/images/blog/blog-one.jpg" alt="" /></td>
                                      <td>Dakota Rice</td>                                     
                                      <td>Oud-Turnhout</td>
                                      <td><i class="fa fa-ellipsis-v"></i></td>
                                    </tr>
                                    <tr>
                                      <td>2</td>
                                      <td><img src="/assets/images/blog/blog-two.jpg" alt="" /></td>
                                      <td>Minerva Hooper</td>                                     
                                      <td>Sinaai-Waas</td>
                                      <td><i class="fa fa-ellipsis-v"></i></td>
                                    </tr>
                                    <tr>
                                      <td>3</td>
                                      <td><img src="/assets/images/blog/blog-three.jpg" alt="" /></td>
                                      <td>Sage Rodriguez</td>                                     
                                      <td>Baileux</td>
                                      <td><i class="fa fa-ellipsis-v"></i></td>
                                    </tr>
                                    <tr>
                                      <td>4</td>
                                      <td><img src="/assets/images/blog/man-three.jpg" alt="" /></td>
                                      <td>Philip Chaney</td>                                     
                                      <td>Overland Park</td>
                                      <td><i class="fa fa-ellipsis-v"></i></td>
                                    </tr>
                                    <tr>
                                      <td>5</td>
                                      <td><img src="/assets/images/blog/man-one.jpg" alt="" /></td>
                                      <td>Doris Greene</td>                                     
                                      <td>Feldkirchen in Kärnten</td>
                                      <td><i class="fa fa-ellipsis-v"></i></td>
                                    </tr>
                                    <tr>
                                      <td>6</td>
                                      <td><img src="/assets/images/blog/man-two.jpg" alt="" /></td>
                                      <td>Mason Porter</td>                                     
                                      <td>Gloucester</td>
                                      <td><i class="fa fa-ellipsis-v"></i></td>
                                    </tr>
                                </tbody>
                            </table>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>