.main-panel .navbar {
  margin-bottom: 0; }     

  .navbar .navbar-nav > li > a i,
  .navbar .navbar-nav > li > a p {
    display: inline-block;
    margin: 0; }
  .navbar .navbar-nav > li > a i {
    position: relative;
    top: 1px; }
.navbar .navbar-nav > li > a.btn {
  margin: 15px 3px;
  padding: 7px 18px; }
.navbar .btn {
  margin: 15px 3px;
  font-size: 14px; }
.navbar .btn-simple {
  font-size: 16px; }

.navbar-nav > li > .dropdown-menu {
border-radius: 6px;
margin-top: -5px; }

.navbar-default {
background-color: #f4f3ef;
border-bottom: 1px solid #DDDDDD; }
.navbar-default .brand {
  color: #66615b !important; }
.navbar-default .navbar-nav > li > a:not(.btn) {
  color: #9A9A9A; } 

  .sidebar .nav a,
.table > tbody > tr .td-actions .btn {
-webkit-transition: all 150ms ease-in;
-moz-transition: all 150ms ease-in;
-o-transition: all 150ms ease-in;
-ms-transition: all 150ms ease-in;
transition: all 150ms ease-in; }


.table thead tr > th,
.table thead tr > td,
.table tbody tr > th,
.table tbody tr > td,
.table tfoot tr > th,
.table tfoot tr > td {
border-top: 1px solid #CCC5B9; }
.table > thead > tr > th {
border-bottom-width: 0;
font-size: 1.25em;
font-weight: 300; }
.table .radio,
.table .checkbox {
margin-top: 0;
margin-bottom: 22px;
padding: 0;
width: 15px; }
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
padding: 12px;
vertical-align: middle; }
.table .th-description {
max-width: 150px; }
.table .td-price {
font-size: 26px;
font-weight: 300;
margin-top: 5px;
text-align: right; }
.table .td-total {
font-weight: 600;
font-size: 1.25em;
padding-top: 20px;
text-align: right; }
.table .td-actions .btn.btn-sm, .table .td-actions .btn.btn-xs {
padding-left: 3px;
padding-right: 3px; }
.table > tbody > tr {
position: relative; }

.table-striped tbody > tr:nth-of-type(2n+1) {
background-color: #fff; }
.table-striped tbody > tr:nth-of-type(2n) {
background-color: #FFFCF5; }
.table-striped > thead > tr > th,
.table-striped > tbody > tr > th,
.table-striped > tfoot > tr > th,
.table-striped > thead > tr > td,
.table-striped > tbody > tr > td,
.table-striped > tfoot > tr > td {
padding: 15px 8px; }
@media (min-width: 992px) {
  .table-full-width {
    margin-left: -15px;
    margin-right: -15px; }

  .table-responsive {
    overflow: visible; } }
@media (max-width: 991px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch; } }
    .card {
      border-radius: 6px;
      box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
      background-color: #FFFFFF;
      color: #252422;
      margin-bottom: 20px;
      position: relative;
      z-index: 1; }
      .card .image {
        width: 100%;
        overflow: hidden;
        height: 260px;
        border-radius: 6px 6px 0 0;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d; }
        .card .image img {
          width: 100%; }
      .card .content {
        padding: 15px 15px 10px 15px; }
      .card .header {
        padding: 20px 20px 0;
      margin-bottom: 50px; }
      .card .description {
        font-size: 16px;
        color: #66615b; }
      .card h6 {
        font-size: 12px;
        margin: 0; }
      .card .category,
      .card label {
        font-size: 14px;
        font-weight: 400;
        color: #9A9A9A;
        margin-bottom: 0px; }
        .card .category i,
        .card label i {
          font-size: 16px; }
      .card label {
        font-size: 15px;
        margin-bottom: 5px; }
      .card .title {
        margin: 0;
        color: #252422;
        font-weight: 300; }
      .card .avatar {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px; }
      .card .footer {
        padding: 0;
        line-height: 30px; }
        .card .footer .legend {
          padding: 5px 0; }
        .card .footer hr {
          margin-top: 5px;
          margin-bottom: 5px; }
      .card .stats {
        color: #a9a9a9;
        font-weight: 300; }
        .card .stats i {
          margin-right: 2px;
          min-width: 15px;
          display: inline-block; }
      .card .footer div {
        display: inline-block; }
      .card .author {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase; }
      .card .author i {
        font-size: 14px; }
      .card.card-separator:after {
        height: 100%;
        right: -15px;
        top: 0;
        width: 1px;
        background-color: #DDDDDD;
        content: "";
        position: absolute; }
      .card .ct-chart {
        margin: 30px 0 30px;
        height: 245px; }
      .card .table tbody td:first-child,
      .card .table thead th:first-child {
        padding-left: 15px; }
      .card .table tbody td:last-child,
      .card .table thead th:last-child {
        padding-right: 15px; }
      .card .alert {
        border-radius: 4px;
        position: relative; }
        .card .alert.alert-with-icon {
          padding-left: 65px; }
      .card .icon-big {
        font-size: 3em;
        min-height: 64px; }
      .card .numbers {
        font-size: 2em;
        text-align: right; }
        .card .numbers p {
          margin: 0; }
      .card ul.team-members li {
        padding: 10px 0px; }
        .card ul.team-members li:not(:last-child) {
          border-bottom: 1px solid #F1EAE0; }
    
    .card-user .image {
      border-radius: 8px 8px 0 0;
      height: 150px;
      position: relative;
      overflow: hidden; }
      .card-user .image img {
        width: 100%; }
    .card-user .image-plain {
      height: 0;
      margin-top: 110px; }
    .card-user .author {
      text-align: center;
      text-transform: none;
      margin-top: -65px; }
      .card-user .author .title {
        color: #403D39; }
        .card-user .author .title small {
          color: #ccc5b9; }
    .card-user .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: relative;
      margin-bottom: 15px; }
      .card-user .avatar.border-white {
        border: 5px solid #FFFFFF; }
      .card-user .avatar.border-gray {
        border: 5px solid #ccc5b9; }
    .card-user .title {
      font-weight: 600;
      line-height: 24px; }
    .card-user .description {
      margin-top: 10px; }
    .card-user .content {
      min-height: 200px; }
    .card-user.card-plain .avatar {
      height: 190px;
      width: 190px; }
    
    .card-map .map {
      height: 500px;
      padding-top: 20px; }
      .card-map .map > div {
        height: 100%; }
    
    .card-user .footer,
    .card-price .footer {
      padding: 5px 15px 10px; }
    .card-user hr,
    .card-price hr {
      margin: 5px 15px; }
    
    .card-plain {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0; }
      .card-plain .image {
        border-radius: 4px; }  
        .content .container-fluid{ 
          margin-left: 20px;
          margin-right: 20px;
        }

        img{
          height: 50px;
        }
















        #container {
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          z-index: 9999;
          position: fixed;
          bottom: 20em;
          right: 25em;
          border-radius:.5em;
          display: none;
          background-color:#fff;
        }        
        
        .input-group {
          margin-bottom: 1em;
        }
        #contact {
          margin: 2em;
        
        }
        
        #heading {
          margin-bottom: 1em;
         color: #b4b1ab
        }    
        #close {
          color: white;
          font-family: monospace;
          font-weight: lighter;
          background-color: rgba(50, 50, 60, 1);
          border-radius: 8px;
          padding-left: 0.5em;
          padding-right: 0.5em;
          padding-top: 0.2em;
          padding-bottom: 0.3em;
          font-size: .8em;
        
        }
        
        #close:hover{
          color: white;
          background-color: red;
          font-family: monospace;
          font-weight: lighter;
          box-shadow: 0px 0px 4px white;
        }     
        
        .item-form{
        margin-bottom:15px;
        }
        
        li{
        list-style-type: none;
        }