<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
         <a class="navbar-brand" href="javascript:void(0)">Blog</a>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="ti-panel"></i>
      <p>Stats</p>
                  </a>
              </li>             
           </ul>

      </div>
  </div>
</nav>


<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <div class="col-sm-9">
                          <button  (click)="toggleAddBlog(AddBlogBtnText)" type="submit" class="btn btn-md btn-success"> {{AddBlogBtnText}}</button>
                        </div>
                          <div class="col-sm-3">
                              <div class="search_box pull-right">
                                  <input type="text"  [(ngModel)]="search" placeholder="Search"/>
                              </div>
                          </div>
                        </div>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                  <th>#</th>
                                  <th>Image</th>
                                  <th>Name</th>                              
                                  <th>Date Created</th>
                                  <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i = index; let item of blogs | paginate: { itemsPerPage:5, currentPage:b } | filter:search">
                                      <td>{{i+1}}</td>
                                      <td><img src="{{item.MediaUrl}}" alt="" /></td>
                                      <td>{{item.Name}}</td>                                     
                                      <td>{{item.DateCreated}}</td>
                                      <td>
                                        <li class="dropdown">
                                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                                  <i class="fa fa-ellipsis-v"></i><b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                            <li (click)="deleteBlog(item)"><a>Delete</a></li>
                                        </ul>
                                      </li>
                                    </td>
                                    </tr> 
                                </tbody>
                            </table> 
                            <pagination-controls (pageChange)="b=$event"></pagination-controls>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>



      <div class="col-md-4 col-sm-4" [style.display]="display" id="container">
        <div id="new-item">
            <h3 align="center" id="heading">
                Add Blog
                <small>
                    <span class="close" (click)="closepopup()" aria-label="Close" id="close">x
                    </span>
                </small>
            </h3>
            <div class="item-form">    
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-cart-plus">
                        </i>
                    </span>
                    <input required ngModel class="form-control" minlength="3" maxlength="50" #name="ngModel" type="text" name="Name" placeholder="Name">                
                </div>
                <div class="alert alert-danger" *ngIf="name.touched && !name.valid"> 
                    <div *ngIf="name.errors.required">Name is required</div>
                    <div *ngIf="name.errors.minlength">Name should have a minimum of {{name.errors.minlength.requiredLength}} characters</div>
                    <div *ngIf="name.errors.maxlength">Name should have a maximum of {{name.errors.maxlength.requiredLength}} characters</div>
                </div> 

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-cart-plus">
                        </i>
                    </span>
                    <input required ngModel class="form-control" minlength="3" maxlength="100" #titleDescription="ngModel" type="text" name="titleDescription" placeholder="Title description">                
                </div>
                <div class="alert alert-danger" *ngIf="titleDescription.touched && !titleDescription.valid"> 
                    <div *ngIf="titleDescription.errors.required">Title description is required</div>
                    <div *ngIf="titleDescription.errors.minlength">Title description should have a minimum of {{titleDescription.errors.minlength.requiredLength}} characters</div>
                    <div *ngIf="titleDescription.errors.maxlength">Title description should have a maximum of {{titleDescription.errors.maxlength.requiredLength}} characters</div>
                </div>   

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-cart-plus">
                        </i>
                    </span>
                    <input required ngModel class="form-control" minlength="3" maxlength="150" #shortDescription="ngModel" type="text" name="shortDescription" placeholder="Short description ">                
                </div>
                <div class="alert alert-danger" *ngIf="name.touched && !name.valid"> 
                    <div *ngIf="shortDescription.errors.required">Short description is required</div>
                    <div *ngIf="shortDescription.errors.minlength">Short description should have a minimum of {{shortDescription.errors.minlength.requiredLength}} characters</div>
                    <div *ngIf="shortDescription.errors.maxlength">Short description should have a maximum of {{shortDescription.errors.maxlength.requiredLength}} characters</div>
                </div>    

             <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-file-text"></i>
                    </span>
                    <textarea ngModel #description="ngModel" class="form-control" type="text" name="description" placeholder="Description " required="required"></textarea>
                </div>
                <div class="alert alert-danger" *ngIf="description.touched && !description.valid"> Description is required. </div>
    
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-paperclip"></i>
                    </span>
                    <input  #filesInput id="filesInput" type="file" accept="image/*" class="form-control" required>
                </div>
           
                <span>
                    <button  (click)="addBlog(name.value, description.value,titleDescription.value)"
                        class="btn btn-primary" id="submit">
                        Save
                    </button>
                </span>
            </div>
        </div>
    </div>
