<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)">Change Passsword</a>
        </div>
    </div>
</nav>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Change Password</h4>
                    </div>
                    <div class="content">
                        <form #form="ngForm" (ngSubmit)="changePassword()">
                               <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">Old Password</label>
                                        <input #oldpassword="ngModel" required name="oldpassword" [(ngModel)]="form.oldpassword" type="password" class="form-control border-input" placeholder="Old password">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">New Password</label>
                                        <input #newpassword="ngModel" required name="newpassword" [(ngModel)]="form.newpassword" type="password" class="form-control border-input" placeholder="New password">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">Confirm Password</label>
                                        <input #confirmpassword="ngModel" required [(ngModel)]="form.confirmpassword" type="password" name="confirmpassword" class="form-control border-input" placeholder="Confirm password">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" [disabled]="!form.valid" class="btn btn-lg btn-success">Submit </button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>