
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>MY BLOG</b></h1>
  <p>Welcome to the blog of {{userDetails.FirstName}}</p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div (click)="saveViewer(item.Id)" *ngFor="let i = index; let item of blogs | paginate: { itemsPerPage:5, currentPage:b } | filter:search" class="w3-card-4 w3-margin w3-white">
    <img src="{{item.MediaUrl}}" alt="{{item.Name}}" style="width:100%">
    <div class="w3-container">
      <h3><b>{{item.Name}}</b></h3>
      <h5>{{item.TitleDescription}}, <span class="w3-opacity">{{item.DateCreated}}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{item.Description}}</p>     
    </div>
  </div>
  <pagination-controls (pageChange)="b=$event"></pagination-controls>
  <hr>

</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="{{userDetails.ProfilePicture}}" alt="{{userDetails.FirstName}}" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>{{userDetails.FirstName}} {{userDetails.LastName}} </b></h4>
      <p>{{userDetails.AboutMe}}</p>
    </div>
  </div><hr>

  <hr> 
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

